<nav class="account-sidebar">
    <a asp-controller="Account" asp-action="EditUser">
        <i class="fa-regular fa-user"></i>
        Kullanıcı Bilgileri
    </a>
    <a asp-controller="Order" asp-action="OrderList">
        <i class="fa-solid fa-box"></i>
        Siparişler
    </a>
    <a asp-controller="Account" asp-action="ChangePassword">
        <i class="fa-solid fa-lock"></i>
        Parola Değiştir
    </a>
</nav>
