@model List<Kategori>

<nav class="store-nav navbar navbar-expand-lg">
    <div class="container">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav store-nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link active"><i class="fa-solid fa-house"></i> Anasayfa</a>
                </li>

                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a href="/urunler/@item.Url" class="nav-link">@item.KategoriAdi</a>
                    </li>
                }

                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fa-regular fa-envelope"></i> İletişim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
